@font-face { 

    font-family: Barlow; 
    
    src: url("BarlowCondensed-Regular.ttf"); 
    
    }


#heading {
    
    color: #5CE0D8;
    
    
}

#first::first-letter {
    font-size: 200%;
    color: #5CE0D8;
  }

body {
    background-color: #01345B;
}

p {
    text-indent: 10px;
    font-family: Barlow, Arial, Helvetica, sans-serif;
}

#reflectionDiv {
    margin: 20px;
    padding: 20px;
    display: block;
}

@media print {
    h1, p, blockquote, footer 
    font {
        color: black;
        font-style: serif;
    }
    p {
        font-family: Barlow;
    }
    body {
        margin: 1in;
    }

}
