@font-face { 

    font-family: Barlow; 
    
    src: url("BarlowCondensed-Regular.ttf"); 
    
    }


.heading {
    
    color: #5CE0D8;
    text-align: center;
    
    
}

#first::first-letter {
    font-size: 200%;
    color: #5CE0D8;
  }

body {
    background-color: #01345B;
    background-image: url(background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p, blockquote, label, caption, a {
    text-indent: 10px;
    font-family: Barlow, Arial, Helvetica, sans-serif;
    color: azure;
}


#reflectionDiv {
    margin: 20px;
    padding: 20px;
    display: block;
}

main {
    display: flex;
    flex-direction: column;
}


.flex-divs {
    display: flex;
    flex-direction: row;
}

.proj-img {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    margin-top: 15%;
    overflow: auto;
}
footer {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-family: Barlow, Arial, Helvetica, sans-serif;
    color: azure;
    

  }
  /* tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }
  
  th:nth-child(even),td:nth-child(odd) {
    background-color: rgba(150, 212, 212, 0.4);
  } */
  th {
      background-color: grey;
  }
  tbody>:nth-child(2) {
    background-color: grey;
  }

 
@media screen and (max-width: 750px) {
    blockquote {
        font-size: small;
    } 
    p {
        font-size: x-small;
    }
    .flex-divs {
        flex-direction: column;
    }
    img {
        height: 50vh;
        width: 100vw;
    }
    /* .navbar {
        width: 100vw;
    } */
    .navbar ul {
        display: block;
    }
    .navbar ul li {
        display: block;

    }

    /* .navbar ul li ul {
        width: 100%;
        z-index: 1;
    }
    .navbar ul li ul li {
        display: block;
        float: left;

    } */
    table, table {
        display: flex;
        flex-direction: column;
        padding: 3px;
        text-align: center;
        overflow-x: auto;
        
    }
    th {
        min-width: 110px;
    }
    iframe {
        max-width: 175px;
        max-height: 175px;
        align-items: center;
    }

}

@media print {
    h1, p, blockquote, footer {
        font-family: serif; 
        color: black;
        }
    
    
    p {
        font-family: Barlow;
    }
    body {
        margin: 1in;
    }

}